body {
    margin: 0px;
    padding: 0px;
    
}

.container {
    display: flex;
}

.t {   
    width: 350px;
    height: 180px;
    text-align: center;
    padding: 10px;
    margin: 0;
    border-right: 1px solid red;
    border-top: 1px solid red;
}

.r {
    margin: 0;
    font-size: 25px;
    color: rgba(235, 13, 57, 0.618);
}

.q,
.w {
    font-size: 18px;
    font-weight: 700;
}

.e {
    margin: 0;
    font-size: 25px;
    font-weight: 700;
    color: blue;
}

.d {
    margin-top: 0px;
    margin-bottom: 15px;
    font-size: 18px;
    font-weight: 700;
}

/* -------------page8------------- */
.z {   
    width: 700px;
    height: 360px;
    text-align: center;
    padding: 10px;
    margin: 0;
    
}

.x {
    margin: 0;
    font-size: 50px;
    color: rgba(11, 122, 1, 0.618);
}

.c,
.v {
    font-size: 38px;
    font-weight: 700;
}


.b {
    margin: 0;
    font-size: 35px;
    font-weight: 700;
    color: blue;
}

/* ----------------------------------- */




